:root {
    --primary-color: #4361ee;
    --primary-dark: #202c66;
    --primary-light : #6581fc;
    --secondary-color: #3f37c9;
    --accent-color: #4895ef;
    --text-color: #2b2d42;
    --text-light: #8d99ae;
    --background-light: #f8f9fa;
    --white: #ffffff;
    --error-color: #ef233c;
    --success-color: #4cc9f0;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.job-offer-form-section {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.form-card {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(74, 11, 111, 0.1);
    border: 1px solid #d6cbe3;
}

.form-card h2 {
    font-size: 2rem;
    color: var(--primary-dark);
}

.form-card label {
    font-weight: 600;
    color: var(--primary-dark);
}

.form-card .form-control {
    border-radius: 0.5rem;
    border: 1px solid #d6cbe3;
    padding: 0.75rem;
    transition: all 0.2s ease-in-out;
}

.form-card .form-control:focus {
    border-color: var(--primary-dark);
    box-shadow: 0 0 0 0.25rem rgba(74, 11, 111, 0.2);
}

.form-card .btn-primary {
    background-color: var(--primary-dark);
    border: none;
    transition: background-color 0.3s ease;
    color: var(--white);
}

.form-card .btn-primary:hover {
    background-color: var(--primary-light);
}

.form-card .btn-outline-secondary {
    font-size: 0.9rem;
    border-radius: 20px;
    border-color: var(--primary-dark);
    color: var(--primary-dark);
}

.form-card .btn-outline-secondary:hover {
    background-color: var(--primary-dark);
    color: var(--white);
}
