{% extends 'base.html.twig' %}

{% block title %}Ajouter une categorie
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Ajouter une cateogie</h1>
		{{ form(form) }}
		</div>
	{% endblock %}

